@charset "utf-8";

//---------- import ----------
@use "../global" as *;

/*--------------- article-detail（page） ---------------*/
.page-article-detail {
  .article-detail {
    padding: $vw40 $container-padding $vw64;
    .article-header {
      margin-bottom: $vw56;
      .article-eye-catch {
        width: 100%;
        height: $vw214;
        margin-bottom: $vw30;
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
          border-radius: 0 0 0 52px;
        }
      }
      .article-title {
        margin-bottom: $vw32;
        font-size: $vw32;
        font-weight: $font-weight-bold;
        line-height: 1.5;
        letter-spacing: $letter-spacing-md;
      }
      .article-meta {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
      }
      .article-category {
        padding-right: $vw16;
        border-right: 1px solid $black-900;
        font-size: $vw14;
        font-weight: $font-weight-bold;
        color: $primary;
      }
      .article-public-date {
        padding-left: $vw16;
        font-size: $vw14;
        font-weight: $font-weight-bold;
        letter-spacing: $letter-spacing-md;
        color: $glay-400;
      }
    }
    .article-body {
      overflow: hidden;
      margin-bottom: $vw64;
      p {
        margin-bottom: $vw48;
        font-size: $vw16;
        font-weight: $font-weight-medium;
        line-height: 2;
        letter-spacing: $letter-spacing-md;
      }
      h2 {
        margin-bottom: $vw40;
        font-size: $vw24;
        font-weight: $font-weight-bold;
        line-height: 1.5;
        color: $black;
      }
      h3 {
        margin-bottom: $vw24;
        font-size: $vw20;
        font-weight: $font-weight-bold;
        line-height: 1.5;
        letter-spacing: $letter-spacing-md;
        color: $black;
      }
      p + h2 {
        margin-top: $vw72;
      }
      a {
        text-decoration: underline;
      }
      figure {
        width: 100%;
        margin-bottom: $vw46;
        img {
          margin-bottom: $vw24;
          width: 100%;
          height: auto;
          border-radius: 0 0 0 52px;
        }
        figcaption {
          font-size: $vw12;
          font-weight: $font-weight-medium;
          letter-spacing: $letter-spacing-md;
          line-height: 2;
          color: #7e7e7e;
          text-align: right;
        }
      }
      ul,ol {
        margin-bottom: $vw64;
        padding-left: $vw20;
        li {
          margin-bottom: $vw32  ;
          font-size: $vw18;
          font-weight: $font-weight-medium;
          line-height: 2;
          letter-spacing: $letter-spacing-sm;
        }
      }
      ul {
        list-style-type: disc;
      }
      b {
        display: block;
        margin-bottom: $vw48;
        font-size: $vw16;
        font-weight: $font-weight-bold;
        line-height: 2;
        letter-spacing: $letter-spacing-sm;
      }
      blockquote {
        margin-bottom: $vw64;
        p {
          position: relative;
          margin: 0 0 $vw24;
          padding: $vw72 $vw32;
          font-size: $vw18;
          font-weight: $font-weight-medium;
          line-height: 2;
          letter-spacing: $letter-spacing-xl;
          background-color: $glay-100;
          &::before {
            content: "";
            position: absolute;
            top: $vw40;
            left: $vw32;
            width: $vw24;
            height: $vw24;
            background: url("../img/common/ico_quote_left.svg") no-repeat center / $vw24;
          }
          &::after {
            content: "";
            position: absolute;
            bottom: $vw40;
            right: $vw32;
            width: $vw24;
            height: $vw24;
            background: url("../img/common/ico_quote_right.svg") no-repeat center / $vw24;
          }
        }
        cite {
          font-size: $vw12;
          font-weight: $font-weight-medium;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: $letter-spacing-md;
        }
      }
      .article-card {
        height: $vw98;
        margin-bottom: $vw64;
        border: 1px solid $border-color;
        a {
          text-decoration: none;
        }
        .article-card-inner {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
        }
        .article-card-image {
          width: $vw96;
          height: $vw96;
          margin: 0;
          object-fit: cover;
          flex-shrink: 0;
          img {
            border-radius: 0;
          }
        }
        .article-card-body {
          padding: $vw12 $vw16;
          background-color: $white;
        }
        .article-card-title {
          margin: 0 0 $vw6 0;
          font-size: $vw14;
          font-weight: $font-weight-bold;
          line-height: 1;
          color: $black;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        .article-card-text {
          margin: 0 0 $vw6 0;
          font-size: $vw12;
          font-weight: $font-weight-medium;
          line-height: 1.5;
          letter-spacing: $letter-spacing-md;
          color: #a9a9a9;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        .article-card-link {
          margin: 0;
          font-size: $vw10;
          font-weight: $font-weight-medium;
          line-height: 1;
          color: $primary;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
      .article-info {
        margin-bottom: $vw64;
        padding: $vw40 $vw24;
        background-color: $glay-100;
        .article-info-title {
          margin: 0 0 $vw32 0;
          font-size: $vw20;
          font-weight: $font-weight-bold;
          line-height: 1.25;
          letter-spacing: $letter-spacing-md;
          color: $black;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        .article-info-dl {
          margin-bottom: $vw40;
          .article-info-dt {
            margin-bottom: $vw16;
            font-size: $vw16;
            font-weight: $font-weight-bold;
            line-height: 1.25;
            letter-spacing: $letter-spacing-sm;
            color: $black-300;
          }
          .article-info-dd {
            margin-bottom: $vw8;
            font-size: $vw14;
            font-weight: $font-weight-medium;
            line-height: 1.5;
            letter-spacing: $letter-spacing-md;
            color: $black-300;
            a {
              color: $primary;
            }

          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .article-footer {
      .article-author {
        overflow: hidden;
        margin-bottom: $vw64;
        padding: $vw40 $vw24;
        background-color: $white;
        border: 1px solid $border-color;
        .article-author-image {
          float: left;
          width: $vw80;
          height: $vw80;
          margin: 0 $vw16 $vw16 0;
          img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: $rounded-pill;
          }
        }
        .article-author-dl {
          .article-author-dt {
            margin-bottom: $vw5;
            font-size: $vw16;
            font-weight: $font-weight-bold;
            line-height: 1.5;
            color: $black-300;
          }
          .article-author-dd {
            font-size: $vw12;
            font-weight: $font-weight-medium;
            line-height: 1.5;
            letter-spacing: $letter-spacing-sm;
            color: #a9a9a9;
          }
        }
        .article-author-text {
          margin-top: $vw16;
          margin-bottom: $vw24;
          font-size: $vw12;
          font-weight: $font-weight-medium;
          line-height: 1.75;
          letter-spacing: $letter-spacing-sm;
          color: $black-000;
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        .article-author-btn {
          display: inline-block;
          float: right;
          padding: $vw10 $vw24;
          font-size: $vw12;
          font-weight: $font-weight-medium;
          letter-spacing: $letter-spacing-lg;
          text-align: center;
          background-color: $white;
          border: 1px solid $glay-400;
          border-radius: $rounded-pill;
        }
      }
      .article-share {
        position: relative;
        .article-share-title {
          margin-bottom: $vw24;
          font-size: $vw16;
          font-weight: $font-weight-bold;
          text-align: center;
        }
        .article-share-list {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 (-$vw16);
          &__item {
            margin: 0 $vw16;
            img {
              width: $vw56;
              height: $vw56;
            }
            span {
              display: none;
            }
          }
        }
        .article-share-notes {
          display: none;
          position: absolute;
          top: (-$vw20);
          right: 0;
          padding: $vw16;
          background-color: $glay-100;
          border-radius: 4px;
          font-size: $vw12;
          text-align: center;
          &::after {
            position: absolute;
            right: $vw36;
            bottom: (-$vw8);
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-right: $vw4 solid transparent;
            border-top: $vw8 solid $glay-100;
            border-left: $vw4 solid transparent;
          }
        }
      }
    }
  }
  .block-keyword-area {
    margin-bottom: $vw64;
  }
}
//768px〜（TAB）
@include media-breakpoint-md {
  .page-article-detail {
    .article-detail {
      padding: 64px $container-md-padding 104px;
      .article-header {
        margin-bottom: 64px;
        .article-eye-catch {
          width: 100%;
          margin-bottom: 64px;
          img {
            border-radius: 0 0 0 120px;
          }
        }
        .article-title {
          margin-bottom: 32px;
          font-size: $rem40;
        }
        .article-category {
          padding-right: 16px;
          font-size: $rem14;
        }
        .article-public-date {
          padding-left: 16px;
          font-size: $rem14;
        }
      }
      .article-body {
        margin-bottom: 64px;
        p {
          margin-bottom: 48px;
          font-size: $rem18;
          letter-spacing: $letter-spacing-sm;
        }
        h2 {
          margin-bottom: 40px;
          font-size: $rem24;
        }
        h3 {
          margin-bottom: 24px;
          font-size: $rem20;
        }
        p + h2 {
          margin-top: 72px;
        }
        figure {
          width: 100%;
          margin-bottom: 38px;
          img {
            margin-bottom: 24px;
            border-radius: 0 0 0 120px;
          }
          figcaption {
            font-size: $rem12;
          }
        }
        ul,ol {
          margin-bottom: 64px;
          padding-left: 20px;
          li {
            margin-bottom: 32px;
            font-size: $rem18;
            line-height: 2;
          }
        }
        b {
          margin-bottom: 48px;
          font-size: $rem18;
        }
        blockquote {
          margin-bottom: 64px;
          p {
            margin: 0 0 16px;
            padding: 72px 32px;
            font-size: $rem18;
            &::before {
              top: 40px;
              left: 32px;
              width: 24px;
              height: 24px;
              background: url("../img/common/ico_quote_left.svg") no-repeat center / 24px;
            }
            &::after {
              bottom: 40px;
              right: 32px;
              width: 24px;
              height: 24px;
              background: url("../img/common/ico_quote_right.svg") no-repeat center / 24px;
            }
          }
          cite {
            font-size: $rem12;
          }
        }
        .article-card {
          height: 185px;
          margin-bottom: 64px;
          .article-card-inner {
            padding: 32px;
          }
          .article-card-image {
            width: 124px;
            height: 124px;
          }
          .article-card-body {
            padding: 0 24px;
          }
          .article-card-title {
            margin: 0 0 16px 0;
            font-size: $rem18;
          }
          .article-card-text {
            margin: 0 0 20px 0;
            font-size: $rem12;
            line-height: 1.5;
            -webkit-line-clamp: 3;
          }
          .article-card-link {
            font-size: $rem12;
            -webkit-line-clamp: 1;
          }
        }
        .article-info {
          margin-bottom: 64px;
          padding: 32px;
          .article-info-title {
            margin: 0 0 54px 0;
            font-size: $rem24;
            -webkit-line-clamp: 1;
          }
          .article-info-dl {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 40px;
            .article-info-dt {
              flex-shrink: 0;
              margin: 0 32px 0 0;
              font-size: $rem16;
            }
            .article-info-dd {
              margin-bottom: 8px;
              font-size: $rem16;
            }
          }
        }
      }
      .article-footer {
        .article-author {
          margin-bottom: 80px;
          padding: 32px;
          .article-author-image {
            width: 96px;
            height: 96px;
            margin: 0 24px 56px 0;
          }
          .article-author-dl {
            .article-author-dt {
              margin-bottom: 8px;
              font-size: $rem18;
            }
            .article-author-dd {
              font-size: $rem12;
            }
          }
          .article-author-text {
            margin-top: 16px;
            margin-bottom: 16px;
            font-size: $rem12;
            line-height: 1.5;
            letter-spacing: $letter-spacing-md;
            -webkit-line-clamp: 3;
          }
          .article-author-btn {
            float: left;
            padding: 10px 24px;
            font-size: $rem12;
          }
        }
        .article-share {
          .article-share-title {
            margin-bottom: 40px;
            font-size: $rem16;
          }
          .article-share-list {
            margin: 0 -32px;
            &__item {
              margin: 0 32px 0 0;
              a {
                display: flex;
                justify-content: flex-start;
                align-items: center;
              }
              img {
                width: 56px;
                height: 56px;
                margin-right: 16px;
              }
              span {
                display: block;
                font-size: $rem16;
                font-weight: $font-weight-bold;
                letter-spacing: $letter-spacing-md;
              }
            }
          }
          .article-share-notes {
            top: 0;
            right: 63px;
            padding: 16px;
            font-size: $rem12;
            &::after {
              right: 0;
              left: 0;
              bottom: -8px;
              margin: auto;
              border-right: 4px solid transparent;
              border-top: 8px solid $glay-100;
              border-left: 4px solid transparent;
            }
          }
        }
      }
    }
    .block-keyword-area {
      margin-bottom: 80px;
    }
  }
}

//992px〜（PC）
@include media-breakpoint-lg {
  .page-article-detail {
    .article-detail {
      width: 956px;
      margin: 0 auto;
      padding: 64px 0 104px;
      .article-header {
        .article-eye-catch {
          height: 596px;
        }
      }
      .article-body {
        width: 810px;
        margin: 0 auto 80px;
        .article-card {
          margin-bottom: 80px;
        }
        .article-info {
          margin-bottom: 80px;
        }
      }
      .article-footer {
        width: 810px;
        margin: 0 auto;
        .article-author {
          margin-bottom: 104px;
        }
        .article-share {
          .article-share-list {
            margin: 0 -40px;
            &__item {
              margin: 0 40px 0 0;
            }
          }
        }
      }
    }
  }
}

//1200px〜（PC Oversize）
@include media-breakpoint-xl {
}

// ---------- IE11ハック ----------
@media all and (-ms-high-contrast: none) {
}
