@charset "utf-8";

//---------- import ----------
@use "../global" as *;

/*--------------- introduction（page） ---------------*/
.page-introduction {
  .introduction-header {
    position: relative;
    margin-bottom: $vw40;
    padding: $vw16 $vw16 0;
    .introduction-header-image {
      img {
        width: 100%;
        height: $vw212;
        border-radius: 0 0 0 60px;
        object-fit: cover;
      }
    }
    .introduction-header-catch {
      position: absolute;
      top: $vw24;
      left: $vw40;
      .introduction-header-catch-title {
        position: relative;
        span {
          display: block;
          padding: $vw8 $vw6;
          font-family: $font-family-mincho;
          font-size: $vw14;
          font-weight: $font-weight-medium;
          letter-spacing: .3em;
          writing-mode: vertical-rl;
          background-color: $white;
        }
      }
    }
  }
  .introduction-place {
    margin-bottom: $vw104;
    .introduction-place-text {
      margin-bottom: $vw64;
      padding: 0 $vw16;
      font-size: $vw16;
      font-weight: $font-weight-medium;
      line-height: 3;
      letter-spacing: $letter-spacing-md;
    }
    .introduction-place-map {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .introduction-point {
    margin-bottom: $vw118;
    .introduction-point-title {
      margin-bottom: $vw24;
    }
    .introduction-point-list {
      .introduction-point-list-item {
        margin-bottom: $vw80;
        &:last-child {
          margin-bottom: 0;
        }
        .introduction-point-list-item-inner {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-wrap: wrap;
        }
        .introduction-point-list-item-image {
          width: $vw155;
          margin-right: $vw16;
          img {
            width: $vw155;
            height: $vw155;
            object-fit: cover;
            border-radius: 0 0 0 32px;
          }
        }
        .introduction-point-list-item-body {
          width: $vw172;
        }
        .introduction-point-list-item-title {
          margin-bottom: $vw16;
          font-size: $vw18;
          font-weight: $font-weight-bold;
          line-height: 1.5;
        }
        .introduction-point-list-item-text {
          margin-bottom: $vw24;
          font-size: $vw16;
          font-weight: $font-weight-medium;
          line-height: 1.5;
          letter-spacing: $letter-spacing-md;
        }
      }
    }
  }
  .introduction-numbers {
    .introduction-numbers-title {
      margin-bottom: $vw24;
    }
    .introduction-numbers-sub-title {
      margin-bottom: $vw24;
      font-size: $vw18;
      font-weight: $font-weight-bold;
      letter-spacing: $letter-spacing-md;
      span {
        display: block;
        margin-top: $vw8;
        font-size: $vw12;
        font-weight: $font-weight-medium;
      }
    }
    .introduction-numbers-box {
      margin-bottom: $vw80;
    }
    .introduction-numbers-list-item {
      margin-bottom: $vw32;
      padding: $vw40 0 $vw32;
      background-color: $glay-100;
      border-radius: 0 0 0 32px;
      .introduction-numbers-list-item-title {
        margin-bottom: $vw37;
        font-size: $vw18;
        font-weight: $font-weight-bold;
        letter-spacing: $letter-spacing-md;
        text-align: center;
      }
      .introduction-numbers-list-item-body {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .introduction-numbers-list-item-image {
        width: $vw64;
        height: $vw64;
        margin-right: $vw16;
      }
      .introduction-numbers-list-item-detail {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
      }
      .introduction-numbers-list-item-detail-text {
        margin: 0 $vw8 $vw6 0;
        font-size: $vw24;
        font-weight: $font-weight-bold;
        color: $primary;
        span {
          display: block;
          margin-bottom: $vw2;
          font-size: $vw10;
          font-weight: $font-weight-bold;
          line-height: 1.5;
          letter-spacing: $letter-spacing-md;
          text-align: center;
        }
      }
      .introduction-numbers-list-item-detail-number {
        font-size: $vw64;
        font-weight: $font-weight-bold;
        letter-spacing: $letter-spacing-sm;
        color: $primary;
      }
      .introduction-numbers-list-item-detail-unit {
        margin: 0 $vw8 $vw4 $vw4;
        font-size: $vw32;
        font-weight: $font-weight-bold;
        letter-spacing: $letter-spacing-sm;
        color: $primary;
      }
      .introduction-numbers-list-item-detail-supplement {
        margin: 0 0 $vw4 0;
        font-size: $vw12;
        font-weight: $font-weight-bold;
        color: $black;
      }
      .introduction-numbers-list-item-supplement {
        display: block;
        margin-top: $vw16;
        font-size: $vw10;
        line-height: 1.5;
        color: #7e7e7e;
        text-align: center;
      }
      &--population {
        .introduction-numbers-list-item-body {
          flex-direction: column;
        }
        .introduction-numbers-list-item-title {
          margin: $vw12 0 $vw10;
        }
        .introduction-numbers-list-item-title-arrow {
          margin: 0 auto $vw16;
        }
        .introduction-numbers-list-item-title-emphasis {
          position: relative;
          margin: 0;
          width: $vw96;
          height: $vw96;
          padding: $vw20 0;
          background-color: $primary;
          border-radius: $rounded-pill;
          font-size: $vw18;
          line-height: 1.2;
          letter-spacing: $letter-spacing-sm;
          color: $white;
          span {
            font-size: $vw28;
            font-weight: $font-weight-black;
          }
          &::after {
            content: "";
            position: absolute;
            right: 0;
            left: 0;
            bottom: (-$vw8);
            width: 0;
            height: 0;
            margin: auto;
            border-right: $vw8 solid transparent;
            border-top: $vw14 solid $primary;
            border-left: $vw8 solid transparent;
          }
        }
        .introduction-numbers-list-item-detail {
          &:first-child {
            .introduction-numbers-list-item-detail-number {
              font-size: $vw40;
              color: $black;
            }
            .introduction-numbers-list-item-detail-unit {
              font-size: $vw24;
              color: $black;
            }
          }
          &:last-child {
            .introduction-numbers-list-item-detail-number {
              font-size: $vw64;
            }
            .introduction-numbers-list-item-detail-unit {
              font-size: $vw24;
            }
          }
        }
      }
      &--first-place {
        &:nth-child(2) {
          .introduction-numbers-list-item-detail-text {
            font-size: $vw18;
          }
        }
        &:nth-child(4) {
          .introduction-numbers-list-item-detail-text {
            font-size: $vw18;
          }
        }
      }
    }
  }
}

//768px〜（TAB）
@include media-breakpoint-md {
  .page-introduction {
    .introduction-header {
      margin-bottom: 64px;
      padding: 16px $container-md-padding 0;
      .introduction-header-image {
        img {
          height: auto;
          border-radius: 0 0 0 80px;
        }
      }
      .introduction-header-catch {
        top: 15%;
        left: 92px;
        .introduction-header-catch-title {
          span {
            padding: 16px 12px;
            font-size: $rem24;
          }
        }
      }
    }
    .introduction-place {
      margin-bottom: 205px;
      .introduction-place-inner {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
      }
      .introduction-place-text {
        width: 50%;
        margin: 0 24px 0 0;
        padding: 0;
        font-size: $rem14;
      }
      .introduction-place-map {
        width: 50%;
        margin-top: -110px;
      }
    }
    .introduction-point {
      margin-bottom: 205px;
      .introduction-point-title {
        margin-bottom: 32px;
      }
      .introduction-point-list {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        margin: 0 -1.5625%;
        .introduction-point-list-item {
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
          width: 100%;
          margin: 0 1.5625%;
          &:last-child {
            margin: 0 12px;
          }
          .introduction-point-list-item-inner {
            display: block;
          }
          .introduction-point-list-item-image {
            width: 100%;
            margin-right: 0;
            img {
              width: 100%;
              height: 18.229%;
            }
          }
          .introduction-point-list-item-body {
            width: 100%;
            padding: 16px 0 0;
          }
          .introduction-point-list-item-title {
            margin-bottom: 24px;
            font-size: $rem18;
          }
          .introduction-point-list-item-text {
            margin-bottom: 24px;
            font-size: $rem16;
          }
          .btn {
            margin-top: auto;
          }
        }
      }
    }
    .introduction-numbers {
      .introduction-numbers-title {
        margin-bottom: 32px;
      }
      .introduction-numbers-sub-title {
        margin-bottom: 24px;
        font-size: $rem24;
        span {
          display: inline-block;
          margin: 0 0 0 24px;
          font-size: $rem12;
        }
      }
      .introduction-numbers-box {
        margin-bottom: 80px;
      }
      .introduction-numbers-list {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 0 -2.6%;
      }
      .introduction-numbers-list-item {
        width: 44.8%;
        margin: 0 2.6% 40px;
        padding: 40px 0;
        border-radius: 0 0 0 60px;
        .introduction-numbers-list-item-title {
          margin-bottom: 40px;
          font-size: $rem18;
        }
        .introduction-numbers-list-item-image {
          width: 88px;
          height: 88px;
          margin-right: 8px;
        }
        .introduction-numbers-list-item-detail-text {
          margin: 0 8px 6px 0;
          font-size: $rem32;
          span {
            margin-bottom: 2px;
            font-size: $rem12;
          }
        }
        .introduction-numbers-list-item-detail-number {
          font-size: $rem80;
        }
        .introduction-numbers-list-item-detail-unit {
          margin: 0 8px 4px 8px;
          font-size: $rem40;
        }
        .introduction-numbers-list-item-detail-supplement {
          margin: 30px 0 0 0;
          font-size: $rem18;
        }
        .introduction-numbers-list-item-supplement {
          margin-top: 40px;
          font-size: $rem10;
        }
        &--population {
          width: 100%;
          margin: 0 0 80px 0;
          .introduction-numbers-list-item-body {
            flex-direction: row;
          }
          .introduction-numbers-list-item-title {
            margin: 0 40px 40px 24px;
          }
          .introduction-numbers-list-item-title-arrow {
            margin: 18px auto;
            transform: rotate(0);
          }
          .introduction-numbers-list-item-title-emphasis {
            width: 138px;
            height: 138px;
            padding: 34px 0;
            font-size: $rem22;
            span {
              font-size: $rem32;
            }
            &::after {
              bottom: -8px;
              border-right: 8px solid transparent;
              border-top: 14px solid $primary;
              border-left: 8px solid transparent;
            }
          }
          .introduction-numbers-list-item-detail {
            justify-content: center;
            flex-wrap: wrap;
            width: 230px;
            &:first-child {
              .introduction-numbers-list-item-detail-number {
                font-size: $rem80;
              }
              .introduction-numbers-list-item-detail-unit {
                margin: 0 8px 8px 8px;
                font-size: $rem40;
              }
            }
            &:last-child {
              .introduction-numbers-list-item-detail-number {
                font-size: 10.6rem;
              }
              .introduction-numbers-list-item-detail-unit {
                margin: 0 8px 8px 8px;
                font-size: $rem40;
              }
            }
          }
        }
        &--first-place {
          padding: 40px 32px;
          .introduction-numbers-list-item-image {
            margin-right: 24px;
          }
          &:nth-child(2) {
            .introduction-numbers-list-item-image {
              margin-right: 16px;
            }
            .introduction-numbers-list-item-detail-text {
              font-size: $rem24;
            }
          }
          &:nth-child(4) {
            .introduction-numbers-list-item-image {
              margin-right: 28px;
            }
            .introduction-numbers-list-item-detail-text {
              font-size: $rem32;
            }
          }
        }
      }
    }
  }
}

//992px〜（PC）
@include media-breakpoint-lg {
}

//1200px〜（PC Oversize）
@include media-breakpoint-xl {
  .page-introduction {
    .introduction-header {
      padding: 16px 60px 0;
      .introduction-header-image {
        img {
          border-radius: 0 0 0 120px;
        }
      }
      .introduction-header-catch {
        right: 0;
        left: 0;
        width: $container-lg-max-width;
        margin: 0 auto;
        .introduction-header-catch-title {
          span {
            font-size: $rem32;
          }
        }
      }
    }
    .introduction-place {
      margin-bottom: 104px;
      .introduction-place-text {
        margin: 0 30px 0 0;
        font-size: $rem16;
      }
      .introduction-place-map {
        margin-top: -170px;
      }
    }
    .introduction-point {
      margin-bottom: 160px;
      .introduction-point-list {
        margin: 0 -24px;
        .introduction-point-list-item {
          width: 352px;
          margin: 0 24px;
          &:last-child {
            margin: 0 24px;
          }
          .introduction-point-list-item-image {
            img {
              height: 220px;
            }
          }
        }
      }
    }
    .introduction-numbers {
      .introduction-numbers-list {
        margin: 0 -20px;
      }
      .introduction-numbers-list-item {
        width: 556px;
        margin: 0 20px 40px;
        .introduction-numbers-list-item-title {
          font-size: $rem24;
        }
        .introduction-numbers-list-item-image {
          margin-right: 24px;
        }
        &--population {
          width: 100%;
          margin: 0 0 80px 0;
        }
        &--first-place {
          padding: 40px 32px;
        }
      }
    }
  }
}

// ---------- IE11ハック ----------
@media all and (-ms-high-contrast: none) {
}
