<footer class="footer">
  <div class="footer-inner">
    <div class="footer-content">
      <nav class="footer-global-navi">
        <ul class="footer-global-navi-list">
          <li class="footer-global-navi-list__item"><a href="">ながれやまを知る</a></li>
          <li class="footer-global-navi-list__item"><a href="">ながれやまStyleマガジン</a></li>
          <li class="footer-global-navi-list__item"><a href="">オンラインコミュニティ</a></li>
        </ul>
        <ul class="footer-sub-navi-list">
          <li class="footer-sub-navi-list__item"><a href="https://www.city.nagareyama.chiba.jp/site/copyright.html" target="_blank" rel="noopener">著作権・免責事項・リンク<svg xmlns="http://www.w3.org/2000/svg" width="11.5" height="11.5" viewBox="0 0 11.5 11.5" class="ico-external-link"><g transform="translate(-1965.008 -2744.236)"><path d="M1973.008,2747.736v7h-7v-7h7m1-1h-9v9h9v-9Z"/><rect width="9" height="1" transform="translate(1967.258 2744.236)"/><rect width="1" height="9" transform="translate(1975.508 2744.236)"/></g></svg></a></li>
          <li class="footer-sub-navi-list__item"><a href="https://www.city.nagareyama.chiba.jp/site/privacy.html" target="_blank" rel="noopener">プライバシーポリシー<svg xmlns="http://www.w3.org/2000/svg" width="11.5" height="11.5" viewBox="0 0 11.5 11.5" class="ico-external-link"><g transform="translate(-1965.008 -2744.236)"><path d="M1973.008,2747.736v7h-7v-7h7m1-1h-9v9h9v-9Z"/><rect width="9" height="1" transform="translate(1967.258 2744.236)"/><rect width="1" height="9" transform="translate(1975.508 2744.236)"/></g></svg></a></li>
        </ul>
      </nav>
      <div class="footer-info">
        <figure class="footer-logo">
          <a href="https://www.city.nagareyama.chiba.jp/index.html" target="_blank" rel="noopener"><img class="footer-logo__image" src="assets/img/common/logo_nagareyamacity.svg" width="140" height="38" alt="流山市"></a>
          <figcaption class="footer-logo__caption">流山市ブランディングサイト</figcaption>
        </figure>
        <div class="footer-address">
          <p>流山市役所 総合政策部 マーケティング課<br>
          〒270-0192 千葉県流山市平和台1-1-1<br>
          TEL 04-7150-6308</p>
        </div>
        <div class="footer-sns">
          <p class="footer-sns-text">流山市公式PR SNS<span>moricom</span></p>
          <ul class="footer-sns-list">
            <li class="footer-sns-list__item"><a href="https://www.facebook.com/moricomnagareyama/" target="_blank" rel="noopener"><img src="assets/img/common/ico_facebook_black.svg" width="32" height="32" alt="Facebook"></a></li>
            <li class="footer-sns-list__item"><a href="https://twitter.com/nagareyamamori" target="_blank" rel="noopener"><img src="assets/img/common/ico_twitter_black.svg" width="32" height="32" alt="Twitter"></a></li>
            <li class="footer-sns-list__item"><a href="https://www.instagram.com/moricomnagareyama/" target="_blank" rel="noopener"><img src="assets/img/common/ico_instagram_black.svg" width="32" height="32" alt="instagram"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <small class="footer-copyright">Copyright (C) Nagareyama City Chiba Japan, All Rights Reserved.</small>
  </div>
</footer><!-- end footer -->
</div><!-- end page-wrap -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="js/common.js"></script>
</body>
</html>
