<header class="header">
  <div class="header-inner">
    <h1 class="header-logo"><a href="/"><img src="assets/img/common/logo_nagareyama_style.svg" width="230" height="32" alt="ながれやまStyle" class="header-logo__image"></a></h1>
    <div class="header-menu" id="js-sp-menu"><span></span><span></span><span></span></div>
    <nav class="header-global-navi">
      <div class="header-global-navi-inner">
        <ul class="header-global-navi-list">
          <li class="header-global-navi-list__item"><a href="">ながれやまを知る</a></li>
          <li class="header-global-navi-list__item"><a href="">ながれやまStyleマガジン</a></li>
          <li class="header-global-navi-list__item"><a href="">オンラインコミュニティ</a></li>
        </ul>
        <ul class="header-sub-navi-list">
          <li class="header-sub-navi-list__item"><a href="https://www.city.nagareyama.chiba.jp/site/copyright.html" target="_blank" rel="noopener">著作権・免責事項・リンク<svg xmlns="http://www.w3.org/2000/svg" width="11.5" height="11.5" viewBox="0 0 11.5 11.5" class="ico-external-link"><g transform="translate(-1965.008 -2744.236)"><path d="M1973.008,2747.736v7h-7v-7h7m1-1h-9v9h9v-9Z"/><rect width="9" height="1" transform="translate(1967.258 2744.236)"/><rect width="1" height="9" transform="translate(1975.508 2744.236)"/></g></svg></a></li>
          <li class="header-sub-navi-list__item"><a href="https://www.city.nagareyama.chiba.jp/site/privacy.html" target="_blank" rel="noopener">プライバシーポリシー<svg xmlns="http://www.w3.org/2000/svg" width="11.5" height="11.5" viewBox="0 0 11.5 11.5" class="ico-external-link"><g transform="translate(-1965.008 -2744.236)"><path d="M1973.008,2747.736v7h-7v-7h7m1-1h-9v9h9v-9Z"/><rect width="9" height="1" transform="translate(1967.258 2744.236)"/><rect width="1" height="9" transform="translate(1975.508 2744.236)"/></g></svg></a></li>
        </ul>
      </div>
    </nav>
  </div>
</header><!-- end header -->
