@charset "utf-8";

//---------- import ----------
@use "../global" as *;

/*--------------- button（component） ---------------*/
.btn {
  position: relative;
  font-weight: $font-weight-bold;
  white-space: nowrap;
  letter-spacing: $letter-spacing-xl;
}
//ボタンテキスト
.btn-text-primary {
  height: $vw27;
  padding-right: $vw77;
  font-size: $vw18;
  line-height: 1.5;
  text-align: right;
  color: $primary;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
    width: $vw27;
    height: $vw27;
    margin: auto;
    border: 1px solid $primary;
    border-radius: $rounded-pill;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: $vw13;
    display: inline-block;
    width: $vw48;
    height: 1px;
    margin: auto;
    background-color: $primary;
  }
}


//768px〜（TAB）
@include media-breakpoint-md {
  //ボタンテキスト
  .btn-text-primary {
    height: 27px;
    padding-right: 77px;
    font-size: $rem18;
    span {
      transition: $transition;
    }
    &::before {
      width: 27px;
      height: 27px;
    }
    &::after {
      right: 13px;
      width: 48px;
    }
    &:hover {
      span {
        opacity: 0.5;
      }
      &::after {
        animation: arrowLine .5s cubic-bezier(.785,.135,.15,.86) 0s 1 normal forwards;
      }
    }
  }
}
@keyframes arrowLine {
  0% {
    transform: translateX(0) scaleX(1);
    transform-origin: right center;
  }
  50% {
    transform: translateX(8px) scaleX(.1);
    transform-origin: right center;
  }
  50.1% {
    transform: translateX(-8px) scaleX(0);
    transform-origin: left center;
  }
  100% {
    transform: translateX(0) scaleX(1);
    transform-origin: left center;
  }
}

//992px〜（PC）
@include media-breakpoint-lg {
}

//1200px〜（PC Oversize）
@include media-breakpoint-xl {
}

// ---------- IE11ハック ----------
@media all and (-ms-high-contrast: none) {
}
