@charset "utf-8";

//---------- import ----------
@use "../global" as *;

/*--------------- article-list（object） ---------------*/
.article-list {
  .article-list-item {
    position: relative;
    margin-bottom: $vw40;
    &:last-child {
      margin-bottom: 0;
    }
    .article-list-item-link {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      font-size: 0;
      text-decoration: none;
    }
    .article-list-item-image {
      img {
        width: 100%;
        height: $vw214;
        object-fit: cover;
        border-radius: 0 0 0 52px;
      }
    }
    .article-list-item-body {
      padding-top: $vw16;
      background-color: $white;
    }
    .article-list-item-title {
      margin-bottom: $vw16;
      font-size: $vw16;
      font-weight: $font-weight-bold;
      line-height: 1.5;
      letter-spacing: $letter-spacing-md;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .article-list-item-meta {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: $vw16;
    }
    .article-list-item-category {
      font-size: $vw12;
      font-weight: $font-weight-bold;
      color: $primary;
      padding-right: $vw16;
      border-right: 1px solid #a9a9a9;
    }
    .article-list-item-public-date {
      padding-left: $vw16;
      font-size: $vw12;
      font-weight: $font-weight-bold;
      letter-spacing: $letter-spacing-md;
      color: $black;
    }
    .article-list-item-tag-wrap {
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      margin: 0 (-$vw8);
    }
    .article-list-item-tag {
      margin: 0 $vw8;
      font-size: $vw12;
      font-weight: $font-weight-bold;
      color: #a9a9a9;
      span {
        margin-right: $vw4;
      }
    }
  }
}

//768px〜（TAB）
@include media-breakpoint-md {
  .article-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 -1.25%;
    .article-list-item {
      width: 47.5%;
      margin: 0 1.25% 72px;
      &:last-child {
        margin: 0 1.25% 72px;
      }
      &:hover {
        .article-list-item-image {
          img {
            transform: scale(1.05);
          }
        }
        .article-list-item-title  {
          span {
            background-position: left bottom;
            background-size: 100% 1px;
          }
        }
      }
      .article-list-item-image {
        overflow: hidden;
        img {
          width: 100%;
          height: 220px;
          border-radius: 0 0 0 60px;
          transition: $transition;
        }
      }
      .article-list-item-body {
        padding-top: 16px;
      }
      .article-list-item-title {
        margin-bottom: 16px;
        font-size: $rem16;
        -webkit-line-clamp: 4;
        span {
          background: url("../img/common/ico_linelink.png") no-repeat left bottom;
          background-size: 0 1px;
          transition: background-size .4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;background-position: right bottom;

        }
      }
      .article-list-item-meta {
        margin-bottom: 16px;
      }
      .article-list-item-category {
        font-size: $rem12;
        padding-right: 16px;
      }
      .article-list-item-public-date {
        padding-left: 16px;
        font-size: $rem12;
      }
      .article-list-item-tag-wrap {
        margin: 0 -8px;
      }
      .article-list-item-tag {
        margin: 0 8px;
        font-size: $rem12;
        span {
          margin-right: 4px;
        }
      }
    }
  }

}

//992px〜（PC）
@include media-breakpoint-lg {
  .article-list {
    margin: 0 -1.25%;
    .article-list-item {
      width: 30.75%;
      margin: 0 1.25% 72px;
      &:last-child {
        margin: 0 1.25% 72px;
      }
    }
  }
  //PCレイアウト
  .article-list-horizontal {
    flex-direction: column;
    margin: 0;
    .article-list-item {
      width: 100%;
      margin: 0 0 32px;
      &:last-child {
        margin: 0 0 56px;
      }
      .article-list-item-inner {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
      }
      .article-list-item-image {
        width: 45%;
        flex-shrink: 0;
        img {
          height: 28%;
          border-radius: 0 0 0 40px;
        }
      }
      .article-list-item-body {
        padding: 0 0 0 3%;
      }
      .article-list-item-title {
        margin-bottom: 24px;
        -webkit-line-clamp: 2;
      }
      .article-list-item-meta {
        margin-bottom: 24px;
      }
    }
  }
  //2カラムレイアウト
  .article-list-column-second {
    .article-list-item {
      width: 47.5%;
      .article-list-item-image {
        img {
          width: 100%;
          height: 30%;
          border-radius: 0 0 0 80px;
        }
      }
      .article-list-item-body {
        padding-top: 24px;
      }
      .article-list-item-title {
        margin-bottom: 24px;
        font-size: $rem18;
      }
    }
  }
}

//1200px〜（PC Oversize）
@include media-breakpoint-xl {
  .article-list {
    margin: 0 -24px;
    .article-list-item {
      width: 352px;
      margin: 0 24px 72px;
      &:last-child {
        margin: 0 24px 72px;
      }
    }
  }
  //PCレイアウト
  .article-list-horizontal {
    margin: 0;
    .article-list-item {
      width: 100%;
      margin: 0 0 56px;
      &:last-child {
        margin: 0 0 64px;
      }
      .article-list-item-image {
        width: 352px;
        img {
          height: 220px;
        }
      }
      .article-list-item-body {
        padding: 0 0 0 24px;
      }
    }
  }
  //2カラムレイアウト
  .article-list-column-second {
    margin: 0 -20px;
    .article-list-item {
      width: 556px;
      margin: 0 20px 0;
      .article-list-item-image {
        img {
          height: 348px;
        }
      }
    }
  }
}

// ---------- IE11ハック ----------
@media all and (-ms-high-contrast: none) {}
