@charset "utf-8";

//---------- import ----------
@use "../global" as *;

/*--------------- footer（object） ---------------*/
.footer {
  background-color: $white;
  border-top: 1px solid $border-color;
  color: $black;
  .footer-inner {
    padding: $vw64 0 $vw40;
  }
  .footer-global-navi {
    .footer-global-navi-list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      margin-bottom: $vw64;
      &__item {
        margin-bottom: $vw32;
        font-size: $vw14;
        font-weight: $font-weight-bold;
        line-height: 1.5;
        color: $black;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .footer-sub-navi-list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      margin-bottom: $vw72;
      &__item {
        margin-bottom: $vw40;
        font-size: $vw12;
        font-weight: $font-weight-medium;
        line-height: 1.5;
        color: $black;
        &:last-child {
          margin-bottom: 0;
        }
        .ico-external-link {
          width: $vw12;
          height: $vw12;
          padding-left: $vw6;
        }
      }
    }
  }
  .footer-info {
    .footer-logo {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      margin-bottom: $vw40;
      &__image {
        width: $vw130;
        height: auto;
        margin-bottom: $vw16;
      }
      &__caption {
        font-size: $vw12;
        font-weight: $font-weight-medium;
        letter-spacing: 0.124em;
      }
    }
    .footer-address {
      display: flex;
      justify-content: center;
      margin-bottom: $vw48;
      font-size: $vw12;
      font-weight: $font-weight-medium;
      line-height: 2.5;
    }
    .footer-sns {
      margin-bottom: $vw64;
      .footer-sns-text {
        font-size: $vw12;
        font-weight: $font-weight-medium;
        letter-spacing: $letter-spacing-md;
        text-align: center;
        margin-bottom: $vw16;
        span {
          display: inline-block;
          margin-left: $vw8;
          padding-left: $vw8;
          border-left: 1px solid $glay-400;
          font-size: $vw14;
          font-weight: $font-weight-bold;
          line-height: 1;
          letter-spacing: $letter-spacing-lg;
        }
      }
      .footer-sns-list {
        display: flex;
        justify-content: center;
        align-items: center;
        &__item {
          width: $vw40;
          height: $vw40;
          margin: 0 $vw12;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
  .footer-copyright {
    display: block;
    font-size: $vw12;
    color: $black-900;
    text-align: center;
  }
}
//768px〜（TAB）
@include media-breakpoint-md {
  .footer {
    .footer-inner {
      padding: 62px $container-md-marign 40px;
    }
    .footer-content {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      flex-direction: row-reverse;
    }
    .footer-global-navi {
      margin-top: 24px;
      .footer-global-navi-list {
        justify-content: flex-end;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 -20px 38px;
        &__item {
          margin: 0 20px 24px;
          font-size: $rem14;
          &:last-child {
            margin: 0 20px 24px;
          }
        }
      }
      .footer-sub-navi-list {
        justify-content: flex-end;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 -8px;
        &__item {
          margin: 0 8px;
          font-size: $rem12;
          &:last-child {
            margin: 0 8px;
          }
          .ico-external-link {
            width: 12px;
            height: 12px;
            padding-left: 6px;
          }
        }
      }
    }
    .footer-info {
      flex-shrink: 0;
      margin-right: auto;
      .footer-logo {
        align-items: flex-end;
        flex-direction: row;
        margin-bottom: 40px;
        &__image {
          width: 140px;
          margin: 0 14px 0 0;
        }
        &__caption {
          font-size: $rem12;
          letter-spacing: $letter-spacing-md;
        }
      }
      .footer-address {
        justify-content: flex-start;
        margin-bottom: 38px;
        font-size: $rem12;
      }
      .footer-sns {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 40px;
        .footer-sns-text {
          font-size: $rem12;
          text-align: left;
          margin: 0 24px 0 0;
          span {
            margin-left: 8px;
            padding-left: 8px;
            font-size: $rem14;
          }
        }
        .footer-sns-list {
          &__item {
            width: 32px;
            height: 32px;
            margin: 0 8px;
          }
        }
      }
    }
    .footer-copyright {
      font-size: $rem10;
      text-align: right;
    }
  }
}

//992px〜（PC）
@include media-breakpoint-lg {

}

//1200px〜（PC Oversize）
@include media-breakpoint-xl {
  .footer {
    .footer-inner {
      width: $container-lg-max-width;
      margin: 0 auto;
      padding: 62px 0 40px;
    }
    .footer-global-navi {
      .footer-global-navi-list {
        justify-content: flex-start;
      }
      .footer-sub-navi-list {
        justify-content: flex-start;
        margin: 0 -20px;
        &__item {
          margin: 0 20px;
          &:last-child {
            margin: 0 20px;
          }
        }
      }
    }
  }
}

// ---------- IE11ハック ----------
@media all and (-ms-high-contrast: none) {}
