@charset "utf-8";

//---------- import ----------
@use "../global" as *;

/*--------------- keyword（object） ---------------*/
.keyword-area {
  background-color: $glay-100;
  .keyword-area-inner {
    padding: $vw80 $container-padding $vw56;
  }
  .keyword-area-title {
    margin-bottom: $vw40;
    font-size: $vw24;
    font-weight: $font-weight-bold;
    letter-spacing: $letter-spacing-xl;
  }
  .keyword-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 (-$vw8);
    &__item {
      margin: 0 $vw8 $vw24;
      font-size: $vw14;
      span {
        margin-right: $vw4;
      }
    }
  }
}

//768px〜（TAB）
@include media-breakpoint-md {
  .keyword-area {
    .keyword-area-inner {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 80px $container-md-padding 56px;
    }
    .keyword-area-title {
      margin-bottom: 0;
      margin-right: 56px;
      font-size: $rem24;
      flex-shrink: 0;
    }
    .keyword-list {
      margin: 0 -12px;
      &__item {
        margin: 0 12px 24px;
        font-size: $rem16;
        span {
          margin-right: 6px;
        }
      }
    }
  }
}

//992px〜（PC）
@include media-breakpoint-lg {
}

//1200px〜（PC Oversize）
@include media-breakpoint-xl {
  .keyword-area {
    .keyword-area-inner {
      width: $container-lg-max-width;
      margin: 0 auto;
      padding: 80px 0 56px;
    }
  }
}

// ---------- IE11ハック ----------
@media all and (-ms-high-contrast: none) {}
